:root {
  --primary: #F2F7F2;
  --secondary: #C57B57;
  --tertiary: #1F271B;
  --quaternary: #498467;
  --quinary: #093A3E;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: var(--quinary);
}

main, footer {
  background-color: var(--tertiary);
}

.main-title, .main-title:hover  {
  color: var(--primary);
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
  color: var(--secondary);
}

.navActive {
  color: var(--primary);
}